@font-face {
  font-family: 'icomoon';
  src:  url('../font/icomoon.eot?d3xd1t');
  src:  url('../font/icomoon.eot?d3xd1t#iefix') format('embedded-opentype'),
    url('../font/icomoon.ttf?d3xd1t') format('truetype'),
    url('../font/icomoon.woff?d3xd1t') format('woff'),
    url('../font/icomoon.svg?d3xd1t#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e907";
}
.icon-user1:before {
  content: "\e912";
}
.icon-icon01:before {
  content: "\e900";
}
.icon-icon02:before {
  content: "\e901";
}
.icon-icon03:before {
  content: "\e902";
}
.icon-icon04:before {
  content: "\e903";
}
.icon-icon05:before {
  content: "\e904";
}
.icon-icon06:before {
  content: "\e905";
}
.icon-icon07:before {
  content: "\e906";
}
.icon-icon09:before {
  content: "\e908";
}
.icon-icon10:before {
  content: "\e909";
}
.icon-icon11:before {
  content: "\e90a";
}
.icon-icon12:before {
  content: "\e90b";
}
.icon-icon13:before {
  content: "\e90c";
}
.icon-icon14:before {
  content: "\e90d";
}
.icon-icon15:before {
  content: "\e90e";
}
.icon-icon16:before {
  content: "\e90f";
}
.icon-order:before {
  content: "\e910";
}
.icon-revenue:before {
  content: "\e911";
}

